
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

@import "~bootstrap/dist/css/bootstrap.css";
@import "~fullcalendar/dist/fullcalendar.css";
@import "~datatables.net-bs/css/dataTables.bootstrap.css";
@import "~datatables.net-responsive-bs/css/responsive.bootstrap.css";
@import "~dropzone/dist/dropzone.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~selectize/dist/css/selectize.bootstrap3.css";
@import "~eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css";
@import "~summernote/dist/summernote.css";
@import "~cropper/dist/cropper.css";
@import "../css/settings.css";
@import "../css/theme.css";
