body.signup-page {
    position: relative;
    background-color: #C93756;
}

.wrapper {
    position: relative;
    top: 0;
    min-height: 100%;
    overflow: hidden;
}

.wrapper:after {
    display: table;
    clear: both;
    content: " ";
}

.signup-page .wrapper .full-height-bg {
    min-height: 100vh;
}

.signup-page .wrapper .card-signup {
    margin: 150px 0 0px;
}

.card-signup .header {
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -40px;
    padding: 20px 0;
    border-radius: 3px;
}

.signup-page .card-signup {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.09), 0 8px 17px 0 rgba(0, 0, 0, 0.08);
}

.signup-page .card-signup {
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 100px;
}

.signup-page .card-signup, .signup-page .footer {
    z-index: 6;
    position: relative;
}

.card {
    border-radius: 3px;
    border: 1px solid #eee;
    background-color: #FFFFFF;
    margin-bottom: 30px;
    margin-top: 25px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.card-signup .form-control {
    height: 45px;
    padding-left: 35px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
    -o-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    background-color: transparent;
}

.card-signup .form-group {
    position: relative;
}

.card-signup .form-control-feedback {
    left: 0px;
    top: 5px;
    color: rgba(76, 86, 103, 0.4);
    font-size: 20px;
    line-height: 32px;
    z-index: 999;
}

.card-signup .form-control:focus+i {
    color: #ea453e;
}

.card-signup .footer {
    border: none;
    text-align: center;
}

.card-signup .content {
    padding: 0 30px;
}

.signup-page .footer {
    background-color: transparent;
    border: none;
    padding: 15px 0;
}

.signup-page .footer .copyright {
    padding: 15px 0;
}

.signup-page .footer .copyright, .signup-page .footer a {
    color: #FFFFFF;
}

.signup-page .full-height-bg:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: .10;
    background: #000000;
}

.signup-page .card-signup, .signup-page .footer {
    z-index: 6;
    position: relative;
}

.signup-page .card-signup p {
    font-size: 14px;
}

.card [data-background-color] {
    color: #FFFFFF;
}

.card [data-background-color="red"] {
    background: linear-gradient(60deg, #ef5350, #e53935);
    box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
}

.card-signup .social-line {
    margin-top: 15px;
    text-align: center;
}

.card-signup .social-line a {
    color: #FFFFFF;
    padding: 10px 10px;
    line-height: 1em;
    font-size: 18px;
}

.btn:not(.btn-raised), .input-group-btn .btn:not(.btn-raised) {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn .fa {
    width: 20px;
}