/* ==========================================================================
   Home Page
   ========================================================================== */

#wrap {
    position: relative;
    height: 100vh;
}

.intro-well {
    text-align: center;
    padding-top: 170px;
}

.intro-well h1 {
    font-weight: 300;
    font-size: 46px;
    line-height: 44px;
    margin: 0;
    color: #fff;
}

.intro-well h3 {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
}

.intro-well a.btn i {
    font-weight: 700;
    margin-right: 5px;
}

.intro-well a.btn {
    color: #c93756;
}

section.features {
    padding: 65px 0px;
    background-color: #fff;
}

.section-header {
    text-align: center;
    margin-bottom: 72px;
}

.section-header h2 {
    font-size: 32px;
    margin-bottom: 30px;
    margin-top: 0;
    position: relative;
    text-transform: capitalize;
    font-weight: 300;
    color: #C93756;
}

.section-header h4 {
    color: #96a2b2;
    font-size: 16px;
    font-weight: 300;
}

.section-header p {
    color: #222;
    font-size: 14px;
}

.list-view-item {
    padding-bottom: 50px;
    min-height: 225px;
}

.list-view-item i {
    font-size: 45px;
    color: #C93756;
}

.list-view-item h5 {
    text-transform: capitalize;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #0e3655;
    margin-top: 30px;
    margin-bottom: 20px;
}

.list-view-item p {
    color: #222;
    font-size: 14px;
    font-weight: normal;
}