/* ==========================================================================
   [Theme Stylesheet]

    Project              :       Lavalite
    Version              :       5.0
    Author               :       Renfos Technologies
    Author  URl          :       www.renfos.com
    Primary use          :       Lavalite, The Coder's CMS Recipe

========================================================================== */

/* ==========================================================================
   Base styles: opinionated defaults
========================================================================== */

body {
    color: #99aab5;
    font-size: 14px;
    line-height: 1.4;
    font-family: 'Ubuntu', sans-serif;
    padding-right: 0 !important;
}
body::-webkit-scrollbar {
    width: .4em;
}
button::-moz-focus-inner {
    border: 0;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 0px;
    background-color: #333;
}
body::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #ee3a5c;
}
a {
    color: #ee3a5c;
}
p {
    line-height: 25px;
    margin-bottom: 10px;
}
.btn {
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: 500;
    -moz-box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.12);
    -o-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.form-control {
    -moz-border-radius: 2px;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    background-color: #fafafa;
    border-radius: 2px;
    border: 1px solid #eeeeee;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
}

.form-control:focus {
    background: #ffffff;
    border: 1px solid #e0e0e0;
    box-shadow: none;
}
.full-height {
    height: 100vh;
}
.g-ver-center {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}
.s-page-loader-v1 {
    position: fixed;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(145deg, #ee3a5c 0, #de4163 100%);
    background-repeat: repeat-x
}
.s-page-loader-v1 .loading_text {
    font-size: 30px;
}
.s-page-loader-v1__element {
    position: relative;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-duration: 1s
}
.s-page-loader-v1__loading-pulse-1, .s-page-loader-v1__loading-pulse-2, .s-page-loader-v1__loading-pulse-3 {
    position: relative;
    display: inline-block;
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
    background: #fff;
    margin: 0 .12rem;
    -webkit-animation: page-loader-v2__element 1.5s ease-in-out infinite both;
    animation: page-loader-v2__element 1.5s ease-in-out infinite both
}
.s-page-loader-v1__loading-pulse-2 {
    -webkit-animation-delay: -.16s;
    animation-delay: -.16s
}
.s-page-loader-v1__loading-pulse-3 {
    -webkit-animation-delay: -.32s;
    animation-delay: -.32s
}
.s-page-loader-v1.-is-animated {
    -webkit-animation: page-loader-v2__loaded 1s cubic-bezier(.7, 0, .3, 1) forwards;
    animation: page-loader-v2__loaded 1s cubic-bezier(.7, 0, .3, 1) forwards
}
.s-page-loader-v1.-is-animated .s-page-loader-v1__element {
    -webkit-transform: scale(.3, .3);
    transform: scale(.3, .3);
    opacity: 0
}
@-webkit-keyframes page-loader-v2__element {
    0, 100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
    50% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0)
    }
}
@keyframes page-loader-v2__element {
    0, 100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
    50% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0)
    }
}
@-webkit-keyframes page-loader-v2__loaded {
    to {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
}
@keyframes page-loader-v2__loaded {
    to {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
}
.main-header {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 999;
    background-color: transparent;
    -o-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.main-header.sticky {
    background-color: #ee3a5c;
}
.main-header .navbar-default {
    margin: 0;
    border-radius: 0;
    border: none;
    padding: 8px 0;
    background-color: transparent;
}
.main-header .container-fluid {
    max-width: 1600px;
}
.main-header .navbar-brand {
    padding: 0;
    height: auto;
    margin-right: 20px;
    padding-left: 15px;
}
.main-header .navbar-brand img {
    margin-top: 7px;
    height: 36px;
}
.main-header .nav>li>a {
    color: #fff;
    font-size: 14px;
    padding: 10px 13px;
    font-weight: 500;
    opacity: 0.8;
    transition: opacity 200ms;
}
.main-header .navbar-nav {
    margin: 5px 0;
}
.main-header .navbar-nav.navbar-right {
    margin-top: 10px;
}
.main-header .nav>li>a.social-icons {
    font-size: 20px;
    padding: 7px 5px;
}
.main-header .nav>li>a.btn {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 4px 15px;
}
.main-header .navbar-right li a {
    margin-left: 10px;
}
.main-header .navbar-default .navbar-nav>.open>a, .main-header .navbar-default .navbar-nav>.open>a:focus, .main-header .navbar-default .navbar-nav>.open>a:hover {
    background-color: transparent;
    color: #fff;
}
.main-header .navbar-default .navbar-nav>li>a:focus, .main-header .navbar-default .navbar-nav>li>a:hover {
    opacity: 1;
    color: #fff;
}
.main-header .dropdown-menu {
    min-width: 122px;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 3px;
    border-radius: 4px !important;
    border: none;
    padding: 0;
}
.main-header .dropdown-menu>li>a {
    color: #666;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 4px;
    font-size: 12px;
    opacity: 0.6;
    font-weight: 500;
    transition: opacity 200ms;
}
.main-header .dropdown-menu>li>a:hover, .main-header .dropdown-menu>li.active>a {
    opacity: 1;
}
.main-header .navbar-default .navbar-nav>.active>a, .main-header .navbar-default .navbar-nav>.active>a:focus, .main-header .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: transparent;
    opacity: 1;
}
.main-header .navbar-default .dropdown-menu>.active>a, .main-header .navbar-default .dropdown-menu>.active>a:focus {
    background-color: transparent;
    opacity: 1;
    color: #666;
}
.main-header .navbar-default .dropdown-menu>.active>a:hover {
    background-color: #f5f5f5;
}
.page .main-header {
    background-color: #ee3a5c;
}
.no-overflow {
    overflow: hidden;
}
.page {
    padding-top: 66px;
}
.btn.theme-btn {
    background-color: #ee3a5c;
    border-radius: 4px;
    color: #fff;
}
.btn.btn-round {
    border-radius: 3.125rem;
}
.main-footer {
    background-color: #282b30;
}
.main-footer .container-fluid {
    max-width: 1600px;
}
.main-footer .logo img {
    text-align: center;
    position: absolute;
    top: -15px;
    width: 40px;
    height: 40px;
    display: inline-block;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.main-footer .links .social-links {
    padding-top: 40px;
}
.main-footer .links .social-links a {
    font-size: 16px;
    color: #fff;
    padding: 0 5px;
}
.main-footer .links .copyright {
    text-align: center;
    font-size: 12px;
    color: #fff;
}
.main-footer .links .copyright p {
    padding-top: 40px;
    margin-bottom: 0;
    font-weight: 500;
    padding-bottom: 35px;
}
.main-footer .links .navs {
    padding-top: 40px;
    text-align: right;
}
.main-footer .links .navs a {
    color: #fff;
    font-size: 12px;
    padding: 0 5px;
    font-weight: 500;
}
.main-footer .logo {
    background-color: transparent;
}
.page section.title {
    padding: 100px 0;
    padding-top: 50px;
    background-color: #ee3a5c;
}
.page section.title h1 {
    font-weight: 700;
    color: #fff;
}
.pagination>li>a, .pagination>li>span {
    border: 0;
    border-radius: 30px !important;
    transition: all .3s;
    padding: 0px 11px;
    margin: 0 3px;
    min-width: 30px;
    height: 30px;
    line-height: 30px;
    color: #999999;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    background: transparent;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #ee3a5c;
    border-color: #ee3a5c;
    color: #FFFFFF;
}
.divider {
    width: 100%;
    height: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ddd;
    display: inline-block;
}
.separator span {
    width: 30px;
    height: 5px;
    border-radius: 30px;
    background-color: #ea4b66;
    margin-right: 3px;
    display: inline-block;
}
.hor-centered-row {
    display: table;
    width: 100%;
}
.modal {
    text-align: center;
    padding: 0!important;
}
.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.modal.fade {
    -webkit-animation: hideModal 0.15s forwards;
    animation: hideModal 0.15s forwards;
}
.modal.in {
    -webkit-animation: showModal 0.3s;
    animation: showModal 0.3s;
}
@-webkit-keyframes showModal {
    0% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
    45% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    80% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes showModal {
    0% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
    45% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    80% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@-webkit-keyframes hideModal {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0;
    }
}
@keyframes hideModal {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0;
    }
}
body.modal-open {
    padding: 0 !important;
}
.modal.fade .modal-dialog {
    transform: inherit;
}
.modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 4px;
    border: none;
    overflow: hidden;
}
.modal-title {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    color: #ee3a5c;
}
.modal-body label {
    font-weight: normal;
    font-size: 13px;
    color: #666;
}
.modal-header {
    border: none;
}
.modal button.close {
    margin-top: 3px;
    font-size: 16px;
    color: #ee3a5c;
    opacity: 0.9;
}
.modal-body {
    padding: 0 40px;
    text-align: center;
}
.modal-body .form-control {
    height: 45px;
    color: #0e3655;
    text-align: center;
    border-radius: 30px;
    background-color: #fff;
}
.modal-body .form-control:focus {
    border-color: #ee3a5c;
}
.modal-body textarea.form-control {
    height: 100px;
}
.modal-body .select2-container {
    display: block;
    width: 100% !important;
}
.modal-body .select2-container--default .select2-selection--multiple {
    border: 2px solid #f3f3f3;
    height: 40px;
}
.modal-body .select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #e0e0e0;
    border-radius: 2px !important;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    -webkit-transition: .2s opacity;
    -o-transition: .2s opacity;
    transition: .2s opacity;
}
.modal-backdrop.in {
    opacity: 1;
}
.modal-body h2 {
    margin: 0;
    font-size: 28px;
    color: #0e3655;
    font-weight: 300;
}
.modal-body form {
    margin-top: 30px;
}
#loginModal .modal-dialog {
    width: 450px;
}
#loginModal .modal-body {
    padding-top: 0;
}
.modal .modal-body .social-links h3 {
    text-transform: capitalize;
    font-size: 18px;
    color: #0e3655;
    margin-bottom: 20px;
    font-weight: 700;
}
.modal .modal-body .social-links h3 span {
    font-weight: 300;
    font-size: 14px;
    position: relative;
    display: block;
}
.modal .modal-body .social-links h3 span::before {
    content: "";
    background-color: #ddd;
    width: 100px;
    height: 1px;
    position: absolute;
    right: 25px;
    top: 7px;
}
.modal .modal-body .social-links h3 span::after {
    content: "";
    background-color: #ddd;
    width: 100px;
    height: 1px;
    position: absolute;
    left: 25px;
    top: 7px;
}
.modal .modal-body .social-links .btn-icon {
    font-size: 15px;
    padding: 0;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 32px;
    display: inline-block;
}
#loginModal .modal-footer {
    text-align: center;
    border: none;
    padding-bottom: 40px;
}
#loginModal .modal-footer p {
    color: #333;
    margin-bottom: 0;
}
#registerModal .modal-dialog {
    width: auto;
}
#registerModal .modal-body {
    position: relative;
    padding: 0;
}
#registerModal .imageblock-content {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 2;
    padding: 0;
    left: 0;
}
#registerModal .background-image-holder {
    will-change: transform, top;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 6px 0 0 6px;
    background-size: cover !important;
    background-position: 50% 50% !important;
    z-index: 0;
    transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    opacity: 1;
}
#registerModal .container {
    padding: 40px 0;
}
#registerModal .modal-body p {
    color: #666;
    margin-top: 10px;
}
#registerModal button.close {
    margin-top: 15px;
    margin-right: 15px;
    position: relative;
    z-index: 7;
}
#registerModal .modal-footer {
    border: none;
    text-align: center;
    padding: 0;
}
#registerModal .modal-footer p {
	margin: 0;
}
.search {
    position: relative;
}
.search .form-control {
    height: 40px;
    padding-left: 20px;
    font-weight: 400;
    border-radius: 30px;
    border: none;
}
.search .form-control+.btn {
    position: absolute;
    right: 3px;
    top: 3px;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    display: inline-block;
    padding: 0;
    text-align: center;
}
.search .form-control+.btn i {
    font-weight: 700;
    font-size: 12px;
}
.grid {
    padding: 65px 0;
    background-color: #f7f8fb;
}
.grid .parent-border {
    position: relative;
    z-index: 0;
}
.grid .main-area .newest-item {
    background-color: #ededed;
    width: 100%;
    display: inline-block;
    position: relative;
    border-radius: 6px;
    margin-bottom: 30px;
}
.grid .main-area .feature {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.grid .main-area .feature img {
    border-radius: 6px 6px 0 0;
}
.grid .main-area .content {
    padding: 30px;
}
.grid .main-area .newest-item h4 {
    line-height: 28px;
    color: #0e3655;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
}
.grid .main-area .newest-item h4 a {
    color: #0e3655;
}
.grid .main-area .newest-item .date-time span {
    margin-left: 18px;
    color: #0e3655;
    font-size: 15px;
}
.grid .main-area .newest-item .date-time span i {
    padding-right: 8px;
    color: #ea4b66;
    font-weight: 700;
}
.grid .main-area .divider {
    width: 100%;
    height: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ddd;
    display: inline-block;
}
.grid .main-area .newest-item+.newest-item {
    margin-top: 60px;
}
.grid .main-area .newest-item p {
    color: #0e3655;
}
.grid .main-area .newest-item .author .avatar {
    width: 40px;
    height: 40px;
}
.grid .main-area .newest-item .author .avatar img {
    width: 100%;
}
.grid .main-area .author {
    position: relative;
}
.grid .main-area .author p {
    margin-bottom: 0;
    margin-left: 55px;
    line-height: 40px;
}
.grid .main-area .newest-item .author .actions {
    position: absolute;
    right: 0;
    top: 13px;
    opacity: 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s;
}
.grid .main-area .newest-item .author .actions a {
    padding-left: 5px;
}
.grid .main-area .newest-item .author .actions a i {
    font-size: 16px;
    font-weight: 700;
}
.grid .main-area .newest-item:hover .author .actions {
    opacity: 1;
}
.grid .main-area .author .actions a.btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 0;
    text-align: center;
    line-height: 30px;
}
.grid .main-area .newest-item .author .actions a.btn i {
    font-weight: 700;
}
.grid .main-area .border:after {
    content: "";
    top: 10px;
    width: 100%;
    height: 100%;
    border: 3px solid #ededed;
    position: absolute;
    z-index: -1;
    left: 10px;
    border-radius: 6px;
    transition: all 0.6s;
}
.grid .pagination-wraper {
    border-top: 1px solid #ededed;
    padding-top: 30px;
    width: 100%;
    overflow: hidden;
    display: inline-block;
}
.grid .pagination {
    margin: 0;
}
.sidebar .widget h3 {
    color: #0e3655;
}
.sidebar .widget ul {
    list-style: none;
    padding-left: 0;
}
.sidebar .widget ul li {
    margin-bottom: 20px;
}
.sidebar .widget ul li a {
    text-transform: capitalize;
    display: block;
    color: #0e3655;
}
.sidebar .widget ul li a i {
    display: inline-block;
    width: 25px;
    font-size: 16px;
    vertical-align: middle;
    color: #ee3a5c;
}
.sidebar .widget+.widget {
    margin-top: 50px;
}
.sidebar .widget .btn {
    width: 100%;
}
.sidebar .widget h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0;
}
.grid .list-item .newest-item {
    margin-bottom: 0px;
}
.grid .list-item .newest-item .feature {
    width: 33.33333333%;
    float: left;
    display: inline-block;
}
.grid .list-item .newest-item .feature img {
    border-radius: 6px 0px 0px 6px;
}
.grid .list-item .newest-item .content {
    width: 66.66666667%;
    float: left;
    padding: 20px;
}
.grid .list-item .newest-item .divider {
    margin-top: 10px;
    margin-bottom: 15px;
}
.grid .list-item .newest-item+.newest-item {
    margin-top: 40px;
}
.grid .list-item {
    margin-bottom: 50px;
}
.single {
    padding: 65px 0;
}
.single .area .feature {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.single .area .feature img {
    border-radius: 6px 6px 0 0;
}
.single .area .item .content {
    background-color: #ededed;
    padding: 50px;
    border-radius: 0 0 6px 6px;
}
.single .area .item h4 {
    color: #0e3655;
    font-size: 22px;
    font-weight: 400;
    margin-top: 0;
    line-height: 30px;
}
.single .area .item .metas .date-time span {
    padding-right: 7px;
}
.single .area .item .metas .date-time span img {
    width: 26px;
    height: 26px;
}
.text-black {
    color: #0e3655;
}
.single .area .item .metas .tag .btn {
    padding: 5px 18px;
    border-radius: 30px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.single .area .item p {
    color: #0e3655;
}
.single .area .item h5 {
    color: #0e3655;
    font-size: 16px;
    line-height: 26px;
    margin: 30px 0;
}
.single .area ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.single .area .service li {
    line-height: 28px;
}
.single .area .item .service li a {
    color: #0e3655;
}
.single .area .item .service li a span.icon {
    font-size: 15px;
    color: #ee3a5c;
    margin-right: 8px;
}
.single .area .item .tags li a {
    border: 1px solid #ededed;
    padding: 6px 15px;
    color: #0e3655;
    border-radius: 30px;
    text-transform: capitalize;
    font-size: 13px;
    background-color: #fff;
}
.single .area .item .tags li:hover a {
    background-color: #ee3a5c;
    border-color: #ee3a5c;
    color: #fff;
}
.single .area .item .socail {
    margin-left: -10px;
    border-top: 1px solid #ededed;
    padding-top: 20px;
}
.single .area .item .socail a {
    margin-left: 10px;
}
.single .area .item .socail a span {
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    display: inline-block;
    background-color: #ddd;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
}
.single .area .item .socail a:nth-child(2) span {
    background-color: #4e598f;
}
.single .area .item .socail a:nth-child(3) span {
    background-color: #65a2d9;
}
.single .area .item .socail a:nth-child(4) span {
    background-color: #d22215;
}
.single .area .item .socail a:nth-child(5) span {
    background-color: #4376b1;
}
.single .area .item .metas .date-time span i.fa {
    padding-right: 7px;
    color: #ee3a5c;
}
.single .comments-area {
    margin-top: 60px;
    background-color: #ededed;
    border-radius: 6px;
    padding: 50px;
    margin-bottom: 60px;
}
.single .comments-area .title h3 {
    color: #0e3655;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}
.single .comments-area .title .separator span {
    width: 30px;
    height: 5px;
    border-radius: 30px;
    background-color: #4bafd3;
    margin-right: 3px;
    display: inline-block;
}
.single .comments-area .media-list {
    margin-top: 30px;
}
.single .comments-area .media-list .media-object {
    width: 64px;
    height: 64px;
    margin-right: 10px;
}
.single .comments-area .media-list .media-heading {
    color: #0e3655;
    margin-bottom: 15px;
    font-size: 16px;
}
.single .comments-area .media-list .media-heading span {
    display: block;
    font-size: 13px;
    margin-top: 10px;
    color: #666;
}
.single .comments-area .media-list .media-body {
    color: #333;
    position: relative;
}
.single .comments-area .media-list .media {
    border-bottom: 1px solid #ededed;
    padding-bottom: 20px;
    margin-top: 20px;
}
.single .comments-area .media-list .media:last-child {
    border: none;
}
.single .comments-area .media-list .media-body .post-reply {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 20px;
}
.single .post-form-area {
    background-color: #ededed;
    padding: 50px;
    border-radius: 6px;
}
.single .post-form-area .post-form-title h3 {
    color: #0e3655;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}
.single .post-form-area .post-form-title .separator span {
    width: 30px;
    height: 5px;
    border-radius: 30px;
    background-color: #4bafd3;
    margin-right: 3px;
    display: inline-block;
}
.single .post-form-area .post-form-title {
    margin-bottom: 30px;
}
.single .post-form-area form .form-control {
    padding: 15px;
    height: 45px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
}
.single .post-form-area form textarea.form-control {
    height: 100px;
}
.create {
    padding: 65px 0;
}
.create .post-wraper {
    padding: 50px;
    background-color: #ededed;
    border-radius: 6px;
}
.create .post-wraper .title h3 {
    color: #0e3655;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}
.create .post-wraper .title {
    margin-bottom: 30px;
}
.create .post-wraper label {
    text-transform: capitalize;
    color: #0e3655;
    display: block;
    font-weight: 400;
}
.create .post-wraper .form-control {
    background-color: #fff;
    border-radius: 3px;
    min-height: 40px;
    color: #0e3655;
    font-size: 13px;
}
.create .post-wraper .form-control:focus {
    border-color: #ee3a5c;
}
.create .post-wraper .dropzone {
    border-radius: 3px;
    border: 1px dashed #ddd;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.create .post-wraper .dropzone .dz-message i {
    display: block;
    color: #ee3a5c;
    font-size: 36px;
    margin-bottom: 10px;
}
.create .post-wraper .dropzone:hover {
    border-color: #ee3a5c;
}
.profile-wraper {
    background-color: #f7f7f7;
    min-height: 850px;
    padding: 60px 0;
}
.profile-wraper .info-box {
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
}
.profile-wraper .info-box .cover-pic {
    min-height: 140px;
    position: relative;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
.profile-wraper .info-box .cover-pic::before {
    background-color: #000;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: block;
    width: 100%;
    bottom: 0;
    opacity: 0.3;
}
.profile-wraper .info-box .info {
    position: relative;
    z-index: 1;
    padding: 0px 30px 30px 30px;
}
.profile-wraper .info-box .img-wrap {
    border-radius: 50%;
    height: 130px;
    margin: -80px auto 0;
    padding: 4px;
    position: relative;
    width: 130px;
    background: #fff;
}
.profile-wraper .info-box .img-wrap img {
    width: 122px;
    height: 122px;
}
.profile-wraper .info-box .info h3 {
    color: #666;
    font-size: 18px;
}
.profile-wraper .info-box .info h4 {
    font-size: 12px;
    color: #999;
}
.profile-wraper .tabs {
    background-color: #fff;
    border-radius: 6px;
}
.profile-wraper .tabs .nav-tabs {
    border-bottom: 1px solid #eee;
    padding-top: 15px;
    padding-bottom: 15px;
}
.profile-wraper .tabs .nav-tabs li {
    position: relative;
    text-align: center;
}
.profile-wraper .tabs .nav-tabs li::after {
    background-color: #ee3a5c;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    bottom: -15px;
    position: relative;
    margin: 0 auto;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.profile-wraper .tabs .nav-tabs li a {
    border: none;
    border-radius: 0;
    background-color: transparent;
    padding: 0 15px;
    color: #333;
    opacity: 0.5;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.profile-wraper .tabs .nav-tabs li a i {
    font-weight: 700;
    margin-right: 2px;
    font-size: 12px;
}
.profile-wraper .tabs .nav-tabs li.active a {
    opacity: 1;
}
.profile-wraper .tabs .nav-tabs li.active a i {
    color: #ee3a5c;
}
.profile-wraper .tabs .nav-tabs li.active::after {
    width: calc(100% - 30px);
}
.profile-wraper .tabs .tab-content {
    padding: 15px;
    color: #666;
}
.profile-wraper .tabs .tab-content h3 {
    margin-top: 0;
    font-size: 18px;
}
.profile-wraper .info-box .social {
    border-top: 1px solid rgba(33, 33, 33, 0.05);
    padding: 30px 15px;
    color: #212121;
}
.profile-wraper .info-box .social .counts {
    font-size: 21px;
}
.profile-wraper .info-box .social .block {
    display: block;
}
.profile-wraper .info-box .social .head-font {
    font-weight: 700;
    color: #666;
}
.profile-wraper .info-box .social .counts-text {
    color: #999;
}
.profile-wraper .info-box .info .btn-social {
    height: 32px;
    width: 32px;
    text-align: center;
    border-radius: 50%;
    padding: 6px;
}
.profile-wraper .info-box .info .btn i {
    font-size: 16.5px;
    line-height: 19px;
}
.profile-wraper .info-box.stats {
    padding: 30px;
}
.profile-wraper .info-box.stats ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.profile-wraper .info-box.stats ul li {
    position: relative;
    margin-bottom: 15px;
}
.profile-wraper .info-box.stats ul li:last-child {
    margin-bottom: 0;
}
.profile-wraper .info-box.stats ul li a {
    color: #0e3655;
}
.profile-wraper .info-box.stats ul li a span {
    float: right;
    opacity: 0.3;
}
.profile-wraper .info-box.stats ul li i {
    display: inline-block;
    width: 25px;
    font-size: 16px;
    vertical-align: middle;
}
.sidebar .widget.search form {
    position: relative;
}
.sidebar .widget.search form .form-control {
    background-color: #fff;
    border: 1px solid #dedede;
}
.sidebar .widget.search form .btn {
    width: 34px;
}
.sidebar .widget.tags ul li {
    display: inline-block;
    margin: 0 5px 10px 0px;
}
.sidebar .widget.tags ul li a {
    background-color: #ededed;
    padding: 5px 10px;
    border-radius: 20px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.sidebar .widget.tags ul li a:hover {
    background-color: #ee3a5c;
    color: #fff;
}
/* ==========================================================================
   Home Styles
========================================================================== */

#wrap {
    position: relative;
    height: 100vh;
}
.intro-well {
    text-align: center;
    padding-top: 170px;
}
.intro-well h1 {
    font-weight: 300;
    font-size: 46px;
    line-height: 44px;
    margin: 0;
    color: #fff;
}
.intro-well h3 {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
}
.intro-well a.btn i {
    font-weight: 700;
    margin-right: 5px;
}
.intro-well a.btn {
    color: #c93756;
    background-color: #fff;
    border: none;
    margin: 2px;
}
section.features {
    padding: 65px 0px;
    background-color: #fff;
}
.section-header {
    text-align: center;
    margin-bottom: 72px;
}
.section-header h2 {
    font-size: 32px;
    margin-bottom: 30px;
    margin-top: 0;
    position: relative;
    text-transform: capitalize;
    font-weight: 300;
    color: #C93756;
}
.section-header h4 {
    color: #96a2b2;
    font-size: 16px;
    font-weight: 300;
}
.section-header p {
    color: #222;
    font-size: 14px;
}
.list-view-item {
    padding-bottom: 50px;
    min-height: 225px;
}
.list-view-item img {
    height: 45px;
    color: #C93756;
}
.list-view-item h5 {
    text-transform: capitalize;
    font-size: 16px;
    color: #0e3655;
    margin-top: 30px;
    margin-bottom: 20px;
}
.list-view-item p {
    color: #222;
    font-size: 14px;
    font-weight: normal;
}
/* ==========================================================================
   About Styles
========================================================================== */
.page section.title p {
    color: #eee;
    font-weight: 500;
}
.page .content {
    padding: 65px 0;
}
.page .content .about .count-numerics h2 {
    font-size: 28px;
    margin-bottom: 100px;
    margin-top: 0;
    text-align: center;
    line-height: 40px;
    font-weight: 500;
    color: #C93756;
}
.page .content .about .count-numerics .list-inline figure {
    font-size: 52px;
    color: #C93756;
    display: inline-block;
    margin: 0;
}
.page .content .about .count-numerics .list-inline span {
    font-size: 30px;
    color: #C93756;
}
.page .content .about .count-numerics .list-inline h4 {
    font-size: 18px;
    color: #8e98a7;
    font-weight: 400;
}
.page .content .about .count-numerics .list-inline li {
    position: relative;
}
.page .content .about .count-numerics .list-inline li:before {
    position: absolute;
    top: 50%;
    left: 90%;
    width: 20%;
    height: 1px;
    background: rgba(35, 35, 35, .2);
    content: " ";
    display: block;
    margin-top: -.03125rem;
}
.page .content .about .count-numerics .list-inline li:last-child:before {
    display: none;
}
.page .content .about .promo-section {
    margin-top: 100px;
    position: relative;
}
.page .content .about .promo-section .content-section {
    background-image: linear-gradient(145deg, #f164ab 0, #ff5176 100%);
    background-repeat: repeat-x;
    padding: 100px 50px;
    border-radius: 6px 0 0 6px;
}
.page .content .about .promo-section .content-section h2 {
    color: #fff;
    font-size: 42px;
    margin-top: 0;
    margin-bottom: 30px;
}
.page .content .about .promo-section .content-section span {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 20px;
    display: block;
}
.page .content .about .promo-section .content-section p {
    color: #fff;
    font-weight: 400;
}
.page .content .about .promo-section .content-section p+p {
    margin-bottom: 40px;
}
.page .content .about .promo-section .content-section h4 {
    color: #fff;
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    margin: 0;
}
.page .content .about .promo-section .image-section {
    background-image: url('../../../../assets/img/about.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 6px 6px 0;
}
.page .content .about .features-section {
    margin-top: 100px;
}
.hor-centered-row .hor-centered-row-col {
    display: table-cell;
    vertical-align: middle;
    float: none;
}
.page .content .about .features-section .exp-num {
    width: 100px;
}
.page .content .about .features-section .exp-num span {
    text-shadow: 0rem 1rem 1rem rgba(201, 55, 86, .6);
    color: #ee3a5c;
    font-weight: 700;
    font-size: 150px;
}
.page .content .about .features-section .exp-year h4 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #363d46;
    font-size: 26px;
    font-weight: 700;
}
.page .content .about .features-section .exp-year h4 span {
    display: block;
}
.page .content .about .features-section .exp-year p {
    text-transform: uppercase;
}
.page .content .about .features-section .feature-item i {
    color: #C93756;
    font-size: 24px;
}
.page .content .about .features-section .feature-item h4 {
    font-size: 18px;
    color: #363d46;
}
.page .content .about .features-section .feature-item p {
    color: #888;
}
/* ==========================================================================
   Contact Styles
========================================================================== */

.page .content .contact {
    padding-top: 100px;
    padding-bottom: 0;
}
.page .content .contact .form {
    background-color: #ededed;
    padding: 50px;
    border-radius: 6px;
}
.page .content .contact .title {
    margin-bottom: 30px;
}
.page .content .contact .title h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    color: #0e3655;
}
.page .content .contact .form .form-control {
    min-height: 40px;
    border-radius: 4px;
    border: none;
}
.page .content .contact .map #map {
    height: 600px;
    overflow: hidden;
    border-radius: 6px;
}
.page .content .contact .map {
    margin-top: 70px;
}
.page .content .contact .sidebar .widget+.widget {
    margin-top: 40px;
}
.page .content .contact .sidebar .widget .icon {
    width: 15%;
    height: 65px;
    float: left;
    margin-right: 8%;
    display: inline-block;
}
.page .content .contact .sidebar .widget .icon i {
    font-size: 50px;
    color: #c93756;
}
.page .content .contact .sidebar .widget .icon-content {
    width: 75%;
    display: inline-block;
}
.page .content .contact .sidebar .widget .icon-content p {
    color: #0e3655;
    margin-bottom: 0;
}
.page .content .contact .sidebar .widget .icon-content p+p {
    margin-top: 0;
}
.stripes-wraper {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(150deg, #f05138 15%, #ee3a5b 70%, #ed1375 94%);
    z-index: -1;
}
.stripes-wraper .stripes {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: calc(100% + 1200px);
    top: 0;
    left: 0;
    overflow: hidden;
    transform: skewY(-30deg);
    transform-origin: 0;
}
.stripes-wraper .stripes span {
    position: absolute;
    height: 190px;
}
.stripes-wraper .stripes :nth-child(1) {
    width: 33.33333%;
    left: -16.66666%;
    background: #ec613f;
    opacity: 0.2;
    top: 300px;
    height: 190px;
}
.stripes-wraper .stripes :nth-child(2) {
    width: 33.33333%;
    top: 300px;
    left: 16.66666%;
    right: auto;
    background: #f36146;
    bottom: auto;
}
.stripes-wraper .stripes :nth-child(3) {
    width: 33.33333%;
    left: 80.99999%;
    bottom: 800px;
    background: #e42165;
    right: auto;
}
.stripes-wraper .stripes :nth-child(4) {
    width: 33.33333%;
    top: 380px;
    right: -16.66666%;
    background: #f83463;
}
.stripes-wraper .stripes :nth-child(5) {
    width: 33.33333%;
    bottom: 40%;
    background: #f16847;
}
body.auth .alert {
    position: fixed;
    top: 0;
    width: 100%;
    border-radius: 0;
    border: none;
    color: #fff;
    line-height: 16px;
}
body.auth .alert .alert-icon {
    display: block;
    float: left;
    margin-right: 15px;
    margin-top: -1px;
}
body.auth .alert .close {
    color: #FFFFFF;
    opacity: .9;
    text-shadow: none;
    line-height: 0;
    outline: 0;
}
body.auth .alert.alert-danger {
    background-color: #bd2a1f;
}
body.auth .alert i {
    font-size: 20px;
}
/* ==========================================================================
   Media Screens
========================================================================== */

@media screen and (max-width: 991px) {
    section.about .count-numerics .list-inline li:before {
        display: none !important;
    }
    section.about .promo-section .image-section {
        display: none;
    }
    section.about .promo-section .content-section {
        border-radius: 6px !important;
        display: block;
    }
    section.about .container {
        width: auto !important;
    }
}
@media screen and (max-width: 768px) {
    section.about .features-section .feature-item {
        margin-bottom: 30px;
    }
    .intro-well h1 {
        font-size: 32px;
    }
    .full-height {
        height: 100%;
    }
    #wrap {
        height: 100%;
    }
}